# IDE-specific files
.vscode/
.idea/
*.swp
*.patch
*.code-workspace

# OS-specific
Thumbs.db
.DS_Store

# Local configuration
.env

# Database files
postgres_data/
TourPlanner/user_images/*
!TourPlanner/user_images/.gitkeep

# .NET build artifacts
**/bin/
**/obj/

[Bb]in/
[Oo]bj/

# Log files
**/logs/
*.txt