<header class="navbar">
    <div class="navbar-brand">
        <h1>TourPlanner</h1>
    </div>
    
    <div class="navbar-search">
        <input type="text" placeholder="Advanced search..." />
    </div>

    <div class="navbar-actions">
        <button class="btn-primary" (click)="openAddTour()">+ New Tour</button>
        @if (isTourModalOpen()) {
        <app-tour-modal (close)="closeTourModal()"></app-tour-modal>
        }   
        <button class="btn-secondary" >Import</button>
        <button class="btn-icon" routerLink="/profile">
            <span>User</span>
        </button>
        <button class="btn-outline" (click)="onLogout()">Logout</button>
    </div>
</header>